<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzx.insert.dao.BoyMapper">
    <resultMap id="BaseResultMap" type="com.zzx.insert.po.Boy">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="high" property="high" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, age, high, add_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from boy
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from boy
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zzx.insert.po.Boy">
        insert into boy (id, age, high,
        add_time)
        values (#{id,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{high,jdbcType=INTEGER},
        #{addTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.zzx.insert.po.Boy">
        insert into boy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="high != null">
                high,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="high != null">
                #{high,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zzx.insert.po.Boy">
        update boy
        <set>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="high != null">
                high = #{high,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zzx.insert.po.Boy">
        update boy
        set age = #{age,jdbcType=INTEGER},
        high = #{high,jdbcType=INTEGER},
        add_time = #{addTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <!--自定义sql-->
    <!--查找多条resultMap，查找一条resultType-->

    <resultMap id="Boys" type="com.zzx.insert.po.Boy">
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="high" property="high" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectByAge" resultMap="Boys" parameterType="java.lang.Integer">
        select age,high,add_time
        from boy
        where age=#{age,jdbcType=INTEGER}
    </select>


</mapper>